body {
    background: url('bg.png') no-repeat;
    font-family: "Jaldi", "Lato";
    color: white;
    text-shadow: 1px 1px #519ab2;
    font-size: 18px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    line-height: 100%;

}

a, a:visited{
    color: inherit;
    text-decoration: none;
}

#container {
    width: 960px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 0 20px 0;
}

.column {
    flex-grow: 1;
    margin: 15px;
    padding: 15px 10px 15px 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    background: rgba(255,255,255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.column .column {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.column .row {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
    margin: 0 0 0 0px; padding: 0;
}

li a{
    display: inline-block;
    width: 100%;
    padding: 4px 0;
    transition: all 0.3s ease;
}

li a:hover{
    border-bottom: 0px solid #1B2129;
    box-shadow: 0 1px rgba(255, 255, 255, 0.5);
    text-indent: 10px;
}
h2 {
    align-self: center;
    opacity: 0.1;
    margin: 0; padding: 0;
}

form{
    width: 100%; 
    text-align: center;
    margin: 20px 15px 0 15px;
}

input[type=text] {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    color: white;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: border 0.3s ease;
}

input[type=text]:focus{
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}

::-webkit-input-placeholder{
    color: rgba(255, 255, 255, 0.7);
}

div, input[type=text]:focus {
    outline: none;
}

#scratchpad {
    line-height: 120%;
    font-size: 16px;
    text-shadow: 1px 1px #519ab2;
}
